#navbar li a.active::after {
  width: 35%;
}
.cart-header {
  background-image: url("./b16.jpg") !important ;
  background-size: contain;
  background-size: calc(70vw);
  background-position: 90%;
}
#cart {
  padding: 40px 80px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
#cart table {
  width: 100%;
  min-width: 800px;
  max-width: 100%;

  border-collapse: collapse;
  /* table-layout: fixed; */
  overflow-x: auto;
  white-space: nowrap;
  /* left: auto; */
}
#cart table img {
  width: 70px;
  height: 70px;
}
#cart table tr td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table tr td:nth-child(1) input {
 background-color: var(--178-color);
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) input {
  width: 60px;
  height: 25px;
}
#cart table thead {
  border: 1px solid var(--gray70-color);
  border-left: none;
  border-right: none;
}
#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody tr td {
  padding-top: 15px;
}
#cart table tbody td {
  font-size: 13px;
}
.c-quant {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid var(--black-color);
  margin-top: 25px;
  padding: 10px !important;
}
.c-quant > input {
  border: 0 !important;
  outline: none;
  text-align: center;
  height: 25px;
  line-height: 25px;
}
.c-quant button {
  color: var(--black-color);
  font-size: 20px;
  background-color: var(--a9c-color);
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 7px;
}
#cart-add {
  padding: 40px 80px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#coupon {
  width: 50%;
  margin-bottom: 30px;
}
#coupon h3 {
  padding-bottom: 15px;
}
#coupon input {
  border: 1px solid var(--gray70-color);
  padding: 10px 20px;
  width: 60%;
  margin-right: 10px;
}
#coupon button,
#subtotal button {
  background-color: var(--178-color);
  color: var(--fff-color);
  padding: 12px 20px;
}
#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid var(--gray70-color);
  padding: 30px;
}
#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td {
  width: 50%;
  border: 1px solid var(--gray70-color);
  padding: 10px;
  font-size: 13px;
}
#subtotal h3 {
  padding-bottom: 15px;
}

@media (max-width: 767px) {
  #cart {
    overflow: auto;
  }
}
@media (max-width: 477px) {
  #cart-add {
    flex-direction: column;
    padding: 40px 20px;
  }
  #coupon {
    width: 100%;
  }
  #subtotal {
    width: 100%;
    padding: 20px;
  }
}
