#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #000;
  padding-top: 40px;
}
footer .col {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}
footer .logo {
  margin-bottom: 30px;
  width: 100px;
  height: 60px;
}
footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 13px;
  color: #222;
  margin-bottom: 10px;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  padding-right: 4px;
  cursor: pointer;
}
footer .follow i img {
  height: 30px;
  width: 30px;
}
footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
  margin-right: 5px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover {
  color: #088178;
}
footer .copy {
  width: 100%;
  text-align: center;
}
@media (max-width: 477px) {
  footer .copy {
    text-align: start;
  }
  footer {
    flex-direction: column;
  }
}
