* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}
#section {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
.pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid var(--cce-color);
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px var(--black02-color);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
.pro:hover {
  box-shadow: 20px 20px 30px var(--black06-color);
}
.pro img {
  width: 100%;
  border-radius: 20px;
}
 .description {
  text-align: start;
  padding: 10px 0;
}
.description span {
  color: var(--606-color);
  font-size: 12px;
}
.description h5 {
  padding-top: 7px;
  color: var(--1a1-color);
  font-size: 14px;
}

.fas {
  font-size: 25px;
  color: rgb(243, 181, 25);
}
.description h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: var(--178-color);
    text-align: start;
}
.pro a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: var(--e8f-color);
    font-weight: 500;
    color:  var(--178-color);
    border: 1px solid var(--cce-color);
    position: absolute;
    bottom: 10px;
    right: 10px;
}
